@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kalam&family=Roboto&family=Shadows+Into+Light&display=swap');

.yourNotes {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Cambria;
}

.check {
  background-color: rgb(255, 212, 132);
  margin: 5px;
}

.noteButtons {
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  border: solid;
  border-color: rgb(0, 140, 255);
  border-radius: 5px;
  border-width: 2px;
  cursor: pointer;
  font-family: Cambria;
  background-color: lightblue;
}

.noteButtons:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.30);
  background-color: pink;
}

.yourNotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 180px;
  height: 100px;
  background-color: #bebebe;
}