
.signup-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font: Arial;
  text-align: center;
}

.page {
  margin: auto;
}

.logo {
  display: block;
  margin: auto;
  width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-details {
  font-size: 14px;
  text-align: left;
  border-width: 1px;
  border-color: #777;
  padding: 2px;
  padding-bottom: 20px;
  width: 250px;
  margin: 10px;
  align-self: center;
}

.submit {
  margin: auto;
  margin-top: 5px;
  background-color: white;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 250px;
}

.submit:hover {
  background-color: pink;
}

.have-account {
  display: block;
  text-align: center;
}

.sign-in {
  color: red;
}

.sign-in:hover {
  text-decoration: underline;
}