.Coolendar-App {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.App-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-align: center;
  height: 150px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  background-color: white;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 250px;
}

.button:hover {
  background-color: pink;
}

.logoutbutton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  background-color: rgb(173, 236, 255);
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 250px;
}

.logoutbutton:hover {
  background-color: pink;
}